extend components/template.pug
block content
        .content
            nav.navbar
                h1 Menu
                ul
                    each navBarLink in navBarLinks
                        li= navBarLink
            main
                +mainContent("Garden plants", "When you're planning a garden, there are a lot of factors to consider. What's your soil like? How does it drain? What kind of sun—like how many hours?—does your garden get? That will affect whether you need full-sun perennials or shade perennials. Do you want to attract pollinators? Then you should consider planting some flowers that attract bees as well as some flowers that attract butterflies. You should also try to add lots of variety to a garden to keep it interesting—mixing in plants and flowers in number of different heights, colors, and textures.", "And then there's the little matter of money. Sure, it's great to experiment, but for the most part, you want to plant things that have a good chance of thriving. It helps to know where your location falls on the USDA Hardiness scale and always read plant labels so you have an idea as to what the ideal conditions are for each and every plant. 'A bargain does not need lots of attention, is not prone to disease or insect problems, and spreads on its own' says Lexington, Kentucky-based landscape designer Jon Carloftis. And while there's no question that annual flowers deliver the most bang for the buck in a single season, perennials, shrubs, and trees provide long-lasting structure and color to the landscape.", "reference: https://www.countryliving.com/gardening/garden-ideas/g1654/best-plants-for-a-garden/", "Read more")
        footer
            h1 World of plants
            ul
                each footerLink in footerLinks
                    li=footerLink