@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap" );

footer {
    padding: 24px 48px;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: Oswald;
    background: #8898C0;
    color: white;
    align-items: center;
}

footer,
footer h1,
footer ul {
    margin: 0;
}

footer,
footer ul {
    display: flex;
    flex-direction: row;
}

footer h1,
footer ul {
    padding: 0;
}

footer h1 {
    font-weight: bold;
}

footer ul {
    width: 20%;
    list-style: none;
    justify-content: space-around;
}